/* Setup */

html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Global Styles */

html {
	font-size: 12px;
	font-weight: 400;
}

body {
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 1.5px;
}

.wrapper {
    max-width: 1180px;
    width: 95%;
    margin: 0 auto;
}

a {
	text-decoration: none;
	color: #ff6666;
	transition: .3s ease;
	padding-bottom: px;
	border-bottom: 1px solid white;

}

a:hover {
	color: black;
	border-bottom: 1px solid #ff6666;
}

h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 12vmin;
	color: white;
	letter-spacing: 4px;
	text-align: right;
	font-weight: 300;
	text-shadow: 3px 2px #ff6666;
}

h2 {
	font-size: 1.75rem;
}

h3 {
	font-size: 1.5rem;
	color: grey;
	font-weight: 200;
}


/* Account Navigation Styles */

.welcome {
	border-bottom: .5px solid lightgrey;
	font-family: 'Montserrat', sans-serif;
}

.flexContainer {
	display: flex;
    justify-content: space-between;
    align-items: center;
}

.account {
	list-style: none;
	padding-left: 0px;
}

.account li {
	padding-left: 15px;
}

.fa-search {
	padding-right: 40px;
}

/* Logo and Search styles */


.account i {
	font-size: 1.3rem;
}

.logo {
	margin-top: 20px;
}

.logo img {
	max-width: 80%;
}

/* Main Navigation Styles */

.main-nav {
	list-style: none;
	padding-left: 0px;
	display: flex;
	align-content: center;
	justify-content: center;
	flex-wrap: wrap;
}

.main-nav li {
	display: flex;
	padding: 10px 20px;
}

/* Carousel Styles*/

.carousel {
	background: linear-gradient(rgba(47,79,79,0.1), rgba(30,30,30,0.3)),url(assets/header.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 20px;
}

.subheading {
	font-size: 2vmin;
	color: white;
	font-weight: 200;
	text-align: left;
	max-width: 250px;
}

.carousel-text {
	display: flex;
	flex-direction: column;
	max-width: 80%;
}

.slides {
	text-align: center;
	color: lightgrey;
	padding-bottom: 20px;
}

/* Main Feature Content Styles */

section {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.six-boxes {
	width: 75%;
	display: flex;
}

.vertical-content-item {
	color: white;
	height: 560px;
	border: 1px solid lightgrey;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	padding: 0 10px;
	width: 250px;
	height: calc(500px + 20px);
	transition: ease .3s;
}

.border-center {
	border-bottom: 1px solid #ff6666;
	width: 75px;
	margin: 0 auto;
}

.vertical-content-item:hover {
	border: 1px solid #ff6666;
}


.vertical-border {
	border: 1px solid white;
	padding: 180px 0;
	transition: .3s ease;
}

.vertical-border:hover {
	border: 1px solid #ff6666;
}

.content-right {
	background: url(assets/shoes.jpg);
	background-size: cover;
	background-position-x: -50px;
	margin: 10px;
}

.content-right h3 {
	color: white;
}

.container-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.content-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 250px;
	height: 250px;
	margin: 10px;
	padding: 0 10px;
	border: 1px solid lightgrey;
	text-align: center;
	transition: .3s ease;
}

.content-item:hover {
	border: 1px solid #ff6666
}

.pink-decal {
	text-align: left;
	color: #ff6666;
	font-size: 1.5rem;
	letter-spacing: -3px;
	margin-left: -25px;
	margin-top: -150px;
	font-weight: 300;
}

.image-item {
	background: url(assets/accessories.jpg);
	background-size: cover;
}

.image-item-2 {
	background: url(assets/backpack.jpg);
	background-size: cover;
	color: white;
	text-align: center;
}

.image-item-2 h3 {
	color: white;
}

.image-item-3 {
	background: url(assets/asian-skin.jpg);
	background-size: cover;
}

/* Shopping Categories Styles */

.featured {
	display: inline-block;
	width: 100%;
	font-size: 1.5rem; 
}

.featured-nav {
	list-style: none;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 50px;
	margin-bottom: -50px;
	padding-left: 0px;
}

.featured-nav li {
	padding: 10px 20px;
	font-size: 1.3rem;
}

.featured-nav i {
	color: lightgrey;
}

.hot {
	color: white;
	background-color: #ff6666;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	padding-top: 17px;
	margin-right: 10px;
	text-align: center;
	float: right;
}

.sale {
	color: white;
	background-color: lightgrey;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	padding-top: 17px;
	margin-right: 10px;
	text-align: center;
	float: right;
}

figcaption {
	height: 400px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}


.price {
	color: #ff6666;
}

.featured-container
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.featured-items {
	height: 400px;
	width: 250px;
	margin: 10px;
	margin-top: 70px;
}

.featured-item-1 {
	background: url(assets/featured-hat.jpg);
	background-size: cover;
	flex-direction: row;
}

.featured-item-2 {
	background: url(assets/featured-jacket.jpg);
	background-size: cover;
	flex-direction: row;
}

.featured-item-3 {
	background: url(assets/featured-suit.jpg);
	background-size: cover;
	flex-direction: row;
}

.featured-item-4 {
	background: url(assets/featured-shirt.jpeg);
	background-size: cover;
	flex-direction: row;
}

/* Shopping Options Styles */

.shopping-options {
	font-size: 1.5rem;
	color: grey;
	background: white;
	display: flex;
	flex-direction: column;
	text-align: center;
	z-index: 2;
	position: absolute;
	padding: 5px;
}

.shopping-option-1 {
	padding: 5px;
	border: 1px solid lightgrey;
	margin: 5px;
	transition: .3s ease;
}

.shopping-option-1:hover {
	color: #ff6666;
	border: 1px solid #ff6666;
}

/* About Styles */

.about {
	background: linear-gradient(to left, rgba(0,0,0,0.5), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1486129273931-27820249c615?auto=format&fit=crop&w=2550&q=80);
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: 100px;
	margin-left: 10px;
	margin-right: 10px;
	display: flex;
	flex-direction: column;
}

.profile {
	display: flex;
	color: white;
	padding: 20px;
	justify-content: center;
	text-align: center;
}

.profile-picture {
	border-radius: 50%;
	width: 200px;
	height: 200px;
}

.profile-text {
	font-size: 1.5rem;
	width: 70%;
}

.profile-text h3 {
	color: white;
	font-weight: 300;
	line-height: 1px;
	font-size: 1.2rem;
}

.profile-text h4 {
	font-weight: 200;
	line-height: 1px;
	font-size: 1rem;
}

/* Blog Styles */

.blog-header {
	text-align: center;
	font-weight: bold;
	margin: 50px 0;
}

.blog-posts {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.blog-post {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 10px;
	padding: 0 10px;
	text-align: center;
	width: 250px;
	height: 250px;
	border: 1px solid lightgrey;
	transition: ease .3s;
}

.blog-post:hover {
	border: 1px solid #ff6666;
}

.blog-post-image-1 {
	background: url(assets/blog-post-1.jpg);
	background-size: cover;
	width: 250px;
}

.blog-post-image-2 {
	background: url(assets/man-bun.jpg);
	background-size: cover;
	width: 250px;
}

/* Sponsors Styles */

.sponsors {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	margin: 50px 30px;
}

.sponsor-logo {
	padding: 10px 10px;
}

.sponsors img {
	max-width: 70%;
}

.sponsors-border {
	border-top: 1px solid lightgrey;
	margin: 0 auto;
	padding: 20px;
	width: 40%;
}

/* Contact Styles */

.contact {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 50px;
}

.contact-item {
	display: flex;
	text-align: center;
	font-size: 1rem;
	font-weight: bold;
	padding: 20px 30px;
	margin: 20px;
	align-items: center;
	border: 1px solid lightgrey;
	background: transparent;
	position: relative;
}

.contact-item:after {
	border: 1px solid lightgrey;
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: -7px;
	right: -7px;
	z-index: -1;
}

.contact-item i {
	font-size: 3rem;
	color: #ff6666;
	padding-right: 10px;
}

/* Footer Styles */

.footer-section {
	background: #f8f8f8;
}

.footer-content {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-top: 40px;
	padding-left: 20px;
	padding-right: 20px;
	flex-wrap: wrap;
}

.footer-links {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	padding-left: 20px;
	padding-right: 20px;
}

.footer-contact {
	display: flex;
	align-items: center;
}

.footer-links-column {
	display: flex;
}

.email {
	padding: 10px;
	margin-right: 10px;
	margin-left: 20px;
	width: 200px;
}

.subscribe {
	padding: 10px 20px;
	background: #f8f8f8;
	border: 1px solid grey;
	border-radius: 0;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 2px;
	font-weight: bold;
	transition: .3s ease;
}

.subscribe:hover {
	padding: 10px 20px;
	background: #ff6666;
	border: 1px solid #ff6666;
	border-radius: 0;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 2px;
	font-weight: bold;
	color: white;
}

.milano-header {
	font-family: 'Raleway', sans-serif;
	font-size: 1.3rem;
	font-weight: bold;
}

.social {
	list-style-type: none;
	padding-left: 0px; 
	display: flex;
}

.social li {
	padding: 6px;
	border-radius: 50%;
	height: 28px;
	width: 28px;
	background: grey;
	margin: 5px;
	text-align: center;
	transition: ease .3s;

}

.social li:hover {
	float: left;
	padding: 6px;
	border-radius: 50%;
	height: 28px;
	width: 28px;
	background: #ff6666;
	margin: 5px;
	text-align: center;
}

.footer-contact i {
	font-size: 1.3rem;
	color: white;
}

.help {
	list-style-type: none;
	padding-left: 0;
}

.help a {
	border-bottom: 1px solid #f8f8f8;
}

.help a:hover {
	border-bottom: 1px solid #ff6666;
}


.help li {
	padding: 5px;
}

.help-link {
	color: grey;
}

.footer-section-2 ul {
	list-style-type: none;
	padding-left: 0px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.footer-section-2 li {
	padding: 20px 10px;
}

.copyright {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}


